/*  Position set up */

h1, h2{
  font-family: 'Oswald' , sans-serif;
  margin:0;
  padding:0;
}

*{
  border:1px dashed red;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin:5px;
}

header{
  float:left;
  margin:0 auto;
  height:523px;
  width:1300px;
  overflow:auto;
  background-image:url('assets/header.jpg');
}

.main{
  width:611px;
  height:1008px;
  float:left;
  overflow:auto;

}

footer{
  float:left;
  margin:0 auto;
  overflow:auto;
  height:573px;
  width:1300px;
}

.sidebar{
  float:right;
  overflow:auto;
  width:440px;
  height:1008px;
}

ul{
  list-style:none;
}


/* Header Title Section Styling */

.title{
  position:absolute;
  display:block;
  top:213.5px;
  padding:0;
  margin:0 auto;
  width:100%;
  text-align:center;
}

.title a:first-child{
  float:left;
  clear:right;
  padding:0;
  margin-bottom:0;
  margin-left:194px;
  color:white;
  font-size:102px;
  text-decoration:none;
  line-height:.9;
}

.title a:last-child{
  float:left;
  margin-left:498px;
  padding:4px;
  font-size:18px;
  text-decoration:none;
  color:black;
}

.blog{
  float:left;
  margin-left:140px;
}

.blog a{
  float:left;
}
.blog img{
  float:left;
  padding-right:10px;
  vertical-align:center;
}

.blog a span{
  float:left;
  text-decoration:none;
  color:black;
  margin-top:10px;
}


.about{
  float:right;
  margin-right:165px;
  margin-top:5px;
}

.about a{
  float:left;
  padding:5px;
  text-decoration:none;
  font-size:18px;
  font-weight:bold;
  color:black;
}
.about img{
  float:right;
  padding-left:5px;
}

/* Main Body Section Styling */
.main{
  padding-top:70px;
  padding-left:160px;
  padding-right:87px;
}

.headerTitle{
  font-size:30px;
  float:left;
  clear:both;
  line-height:1.15;
}

.headerTag{
  padding-top:5px;
  font-size:14px;
}


.headerTag a:first-child{
  float:left;
  text-decoration:none;
}

.headerTag a span{
  float:left;
  color:lightblue;
  text-decoration:none;
  padding-top:15px;
}

.headerTag:last-child span{
  float:left;
}

.headerTag a:last-child{
  float:left;
  color:lightgray;
  text-decoration:underline;
  padding-top:18px;
}


.headerTag a img{
  float:left;
  border-radius:10px;
  width:25px;
  height:25px;
  padding:5px;
}

.headerTag > span{
  float:left;
  color:lightgray;
  padding-top:18px;
  padding-left:17px;
}

article{
  float:left;
  clear:both;
  color:gray;
  font-size:18px;
  line-height:1.5;
}

article a{
  color:lightgray;
}

blockquote{
  color:blue;
  font-size:25px;
  border-left: 1px solid gray;
  margin-top:27px;
  margin-left:10px;
  padding-left:25px;
  padding-top:20px;
  padding-bottom:20px;
}

button{
  margin:3px;
  padding:0;
  background-color:gray;
  color:lightgray;
  text-align:right;
  height:30px;
  padding-right:10px;
}

button img{
  float:left;
  padding-right:5px;
  background-color:#333333;
  width:32px;
  height:100%;
  font-family: 'Open Sans', sans-serif;
}



/* Sidebar Styling */




/*Footer Styling */
